/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
body 
  font-family: 'AdorshoLipi', Arial, sans-serif !important

.home .hero img
  max-width 450px!important
